---
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";
import { PAGES } from "src/utils/constants";

const losPichyBoys = [
  {
    name: "Alejandro [Pichy]",
    handle: ["@LosPichyBoys"],
    image: "/images/ale.webp",
  },
  {
    name: "Maikel [Maikito]",
    handle: ["@LosPichyBoys"],
    image: "/images/maikito.webp",
  },
];
const teamMembers = [
  {
    name: "Alex [Lopez] Lopez",
    handle: ["@AlexDWaves", "Productor Técnico", "¿Comediante?", "@AlexDWaves"],
    image: "/images/lopez.webp",
  },
  {
    name: "Mikey [Machete]",
    handle: [
      "@MikeyMachete",
      "Productor Creativo",
      "Digital Marketing Expert",
      "@MikeyMachete",
    ],
    image: "/images/machete.webp",
  },
  {
    name: "Gustavo [La Maquina]",
    handle: ["Camarógrafo & Editor De Videos", "Gustavo [La Maquina]"],
    image: "/images/gustavo.webp",
  },
];
---

<Layout title="Sobre nosotros" active={PAGES.ABOUT_US}>
  <main
    class="overflow-hidden to-indigo-950 from-violet-900 bg-gradient-to-b flex flex-col items-center py-32"
  >
    <section
      class="w-full flex items-center justify-center flex-col gap-8 max-w-4xl"
    >
      <article class="flex flex-col gap-4">
        <Title>
          Los Pichy Boys
          <p
            id="ticket"
            class="font-extrabold text-yellow-500 uppercase text-xl"
          >
            #TeamPichyBoys
          </p>
        </Title>

        <div class="font-extralight text-xl leading-relaxed text-white">
          Los Pichy Boys son el super-dúo humorístico conformado por los Cubanos
          <span class="underline decoration-yellow-500">Alejandro González</span
          >
          y <span class="underline decoration-yellow-500">Maikel Rodríguez</span
          >. Los Pichy Boys, que son primos por parte de madre, comenzaron
          haciendo pequeños videos por el año 2007 para Youtube en su casa que
          poco a poco alcanzaban más visitas. Hoy día se han convertido en
          celebridades internacionales con su podcast, Somos Los Pichy Boys
          junto a su banda de secuaces. Únete a la banda usando el hashtag <span
            class="text-yellow-500 font-bold decoration-yellow-500 underline"
            >#TeamPichyBoys</span
          >
          <div class="flex w-full justify-end mt-4">
            <p class="text-right text-yellow-500 text-xl">
              Alejandro Y Maikel, son Los Pichy Boys
            </p>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          {
            losPichyBoys.map((member) => (
              <picture class="relative group overflow-hidden rounded-lg">
                <img
                  src={member.image}
                  alt={member.name}
                  class="group-hover:scale-125 transition-all w-auto h-full h-min-[360px]"
                  width="auto"
                  height="auto"
                />
                <div class="absolute capitalize text-yellow-500 flex flex-col items-start justify-start gap-10 pt-5 pl-5 backdrop-blur-sm bg-gradient-to-r from-violet-900 w-full h-full -bottom-full z-10 transition-all group-hover:bottom-0">
                  <strong class="opacity-100 text-white text-3xl">
                    {member.name}
                  </strong>
                  <p>{member.handle}</p>
                </div>
              </picture>
            ))
          }
        </div>
      </article>

      <article class="flex flex-col gap-4">
        <h1
          class="font-extrabold text-yellow-500 uppercase text-2xl md:text-6xl"
        >
          Su Equipo
        </h1>

        <div class="grid grid-cols-3 gap-8">
          {
            teamMembers.map((member) => (
              <picture class="relative group overflow-hidden rounded-lg">
                <img
                  src={member.image}
                  alt={member.name}
                  class="group-hover:scale-125 transition-all"
                  width="386px"
                  height="464px"
                />
                <div class="absolute capitalize text-yellow-500 flex flex-col items-start justify-start gap-10 pt-5 pl-5 bg-gradient-to-r from-violet-900 backdrop-blur-sm w-full h-full -bottom-full z-10 transition-all group-hover:bottom-0">
                  <strong class="opacity-100 text-white text-3xl">
                    {member.name}
                  </strong>
                  <ul>
                    {member.handle.map((h, index) => (
                      <li data-key={index}>{h}</li>
                    ))}
                  </ul>
                </div>
              </picture>
            ))
          }
        </div>
      </article>
    </section>
  </main>
</Layout>
